/*==== size ====*/
/*==== color ====*/
/*=== other ===*/
/*=== general ===*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #696b6a;
}

main {
  padding: 0 2.4rem;
}

a {
  display: inline-block;
  background-color: transparent;
}

img {
  display: inline-block;
  max-width: 100%;
  border-style: none;
  vertical-align: middle;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.bottom-line {
  position: relative;
  display: inline-block;
  margin-bottom: 4.8rem;
}

.bottom-line::after {
  content: "";
  position: absolute;
  left: 40%;
  bottom: -0.4rem;
  width: min(30%, 10rem);
  height: 5px;
  background: #1acda3;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 2.8rem;
  color: #2c2e2d;
}

.content {
  color: #2c2e2d;
  font-size: 1.6rem;
}

/*----- header -----*/
header {
  z-index: 99;
  position: absolute;
  top: 0;
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}
header .logo {
  width: 2.2rem;
  height: 2.2rem;
}
header .social-media img {
  width: 2.2rem;
  margin-left: 1.6rem;
}

nav a {
  color: #fff;
}

header nav,
header .social-media {
  display: none;
}

header .icon-menu {
  display: inline-block;
  margin-left: auto;
}
header .icon-menu .icon {
  color: #fff;
  font-size: 2.2rem;
}

.window .social-media {
  margin-top: 4.8rem;
}

header nav ul,
.window nav ul {
  display: flex;
  gap: 4.8rem;
  text-align: center;
}

.window nav ul {
  flex-direction: column;
  padding: 4.8rem 0;
}

/*----- hero -----*/
.hero-wrapper {
  position: relative;
  width: 100%;
}

.hero {
  height: 100%;
}
.hero-desktop {
  display: none;
}
.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: pink;
  -o-object-position: center top;
     object-position: center top;
}
.hero .mask {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #011b13, rgba(1, 30, 17, 0.25), rgba(3, 59, 46, 0.5));
}
.hero .slogan {
  z-index: 999;
  position: absolute;
  top: 10%;
  padding: 2.4rem;
  width: 90%;
  color: #fff;
}

.hero .slogan h1 {
  padding-bottom: 1.6rem;
  font-size: 3.2rem;
  color: #fff;
}
.hero .slogan p {
  line-height: 1.2;
  font-size: 2.8rem;
}
.hero .slogan a {
  margin-top: 2.4rem;
  padding: 1.6rem 2.4rem;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 6px;
  background: #1acda3;
}

.about-us .hero .title,
.contact-us .hero .title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font-size: 3.2rem;
}

/*----- footer -----*/
footer {
  padding: 4.8rem;
  background: #033b2e;
  color: #fff;
}

.footer-wrapper,
.contact-info,
.info-wrapper,
footer .content-wrapper h2,
.copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}

footer .content-wrapper h2,
footer .info-wrapper h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

footer .footer-wrapper {
  margin: 0 auto;
  width: min(90%, 1024px);
  text-align: center;
}
footer .footer-wrapper .title {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
  color: #fff;
}

footer .content-wrapper img {
  width: 3.2rem;
}
footer .content-wrapper .social-media {
  margin-top: 2.4rem;
}

footer .info-wrapper {
  width: 100%;
}
footer .info-wrapper li {
  margin-top: 2.4rem;
}
footer .info-wrapper .copy-right {
  margin-top: 2.4rem;
  padding-top: 2.4rem;
  border-top: 1px solid #fff;
  text-align: center;
}

/*=== nav modal ===*/
.window {
  overflow: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  text-align: center;
  transition: 0.5s ease-in-out;
  height: 0;
}
.window:target {
  min-height: 800px;
}
.window_content {
  position: relative;
  width: 100vw;
  padding: 4.8rem;
  background-color: rgb(3, 59, 46);
  transition: 0.5s ease-in-out;
}
.window .icon-close {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #fff;
}
.window .icon-close .icon {
  font-size: 3.6rem;
}

/*=== Home page ===*/
.home .hero-wrapper {
  height: 700px;
  max-height: 90vh;
}

.home .element {
  z-index: 2;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #208c73;
}
.home .element::before {
  content: "\e7fd";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Material Icons";
  font-size: 4.8rem;
  color: #fff;
}

.home .line {
  position: absolute;
  background-color: #e2fef8;
  height: 4px;
  transform-origin: center;
}
.home .line::after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  width: 0;
  animation: connect infinite;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background: #1acda3;
}
.home .line:nth-child(odd):after {
  animation-delay: 0.5s;
  animation-duration: 4.5s;
}

.animation .element_1 {
  top: 10%;
  left: 25%;
}

.animation .element_2 {
  top: 45%;
  left: 15%;
}

.animation .element_3 {
  top: 70%;
  left: 30%;
}

.animation .element_4 {
  top: 28%;
  left: 42%;
}

.animation .element_5 {
  top: 50%;
  left: 55%;
}

.animation .element_6 {
  top: 15%;
  left: 70%;
}

.animation .element_7 {
  top: 65%;
  left: 75%;
}

.animation .line1 {
  top: 35%;
  left: 12%;
  width: 30%;
  transform: rotate(2rad);
}

.animation .line2 {
  top: 43%;
  left: 16%;
  width: 40%;
  transform: rotate(1.44rad);
}

.animation .line3 {
  top: 67%;
  left: 16%;
  width: 25%;
  transform: rotate(0.81rad);
}

.animation .line4 {
  top: 28%;
  left: 30%;
  width: 25%;
  transform: rotate(-2.56rad);
}

.animation .line5 {
  top: 44%;
  left: 20%;
  width: 35%;
  transform: rotate(2.77rad);
}

.animation .line6 {
  top: 59%;
  left: 25%;
  width: 35%;
  transform: rotate(2rad);
}

.animation .line7 {
  top: 68%;
  left: 35%;
  width: 31%;
  transform: rotate(2.68rad);
}

.animation .line8 {
  top: 20%;
  left: 32%;
  width: 50%;
  transform: rotate(-3.07rad);
}

.animation .line9 {
  top: 30%;
  left: 47%;
  width: 35%;
  transform: rotate(2.86rad);
}

.animation .line10 {
  top: 38%;
  left: 58%;
  width: 30%;
  transform: rotate(2.17rad);
}

.animation .line11 {
  top: 67%;
  left: 60%;
  width: 25%;
  transform: rotate(-2.7rad);
}

.animation .line12 {
  top: 48%;
  left: 61%;
  width: 40%;
  transform: rotate(-1.73rad);
}

.animation .line13 {
  top: 77%;
  left: 40%;
  width: 40%;
  transform: rotate(3.07rad);
}

.animation .line14 {
  top: 48%;
  left: 46%;
  width: 23%;
  transform: rotate(-2.33rad);
}

@keyframes connect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*----- intro -----*/
.home .intro {
  margin-top: 4.8rem;
  padding: 4.8rem 0;
  text-align: center;
}
.home .intro .animation, .home .intro .title-desktop {
  display: none;
}

.home .intro .content {
  line-height: 1.5;
}
.home .intro p {
  line-height: 1.5;
  font-size: 1.6rem;
  color: #696b6a;
}

/*----- feature -----*/
.home .feature {
  margin: 7.2rem 0;
  width: 100vw;
  margin-inline-start: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.home .feature .content {
  padding: 2.4rem;
  background: #04473a;
}
.home .feature h3 {
  text-align: center;
  font-size: 1.8rem;
  color: #2c2e2d;
}
.home .feature img {
  display: block;
}
.home .feature .illustration {
  margin: 0 auto;
  width: min(80%, 46rem);
}
.home .feature > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.home .feature > ul > li {
  width: 100%;
  flex-grow: 1;
  padding: 2.4rem;
  background: #fff;
  border-radius: 6px;
}
.home .feature .button-more {
  color: #1acda3;
  text-decoration: underline;
}

.home .feature .feature-list {
  flex: 1;
  padding-bottom: 2.4rem;
}

.home .feature ul li {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.home .feature ul li img {
  margin: 4.8rem auto;
  height: 18rem;
}
.home .feature ul li:last-child img {
  border-radius: 12px;
}
.home .feature ul li p {
  font-size: 1.6rem;
  color: #696b6a;
}

/* wave style refer from https://css-generators.com/wavy-shapes/ */
.home .feature .box {
  height: 200px;
  -webkit-mask: radial-gradient(126.18px at 50% calc(100% - 171px), #000 99%, rgba(0, 0, 0, 0) 101%) calc(50% - 120px) 0/240px 100%, radial-gradient(126.18px at 50% calc(100% + 111px), rgba(0, 0, 0, 0) 99%, #000 101%) 50% calc(100% - 60px)/240px 100% repeat-x;
  mask: radial-gradient(126.18px at 50% calc(100% - 171px), #000 99%, rgba(0, 0, 0, 0) 101%) calc(50% - 120px) 0/240px 100%, radial-gradient(126.18px at 50% calc(100% + 111px), rgba(0, 0, 0, 0) 99%, #000 101%) 50% calc(100% - 60px)/240px 100% repeat-x;
  background: #04473a;
  border: none;
}

/*----- call-to-action -----*/
.home .call-to-action {
  margin-top: 7.2rem;
  text-align: center;
}
.home .call-to-action .action_btn {
  display: inline-block;
  margin-top: 2.4rem;
  padding: 1.6rem 2.4rem;
  color: #fff;
  background: #208c73;
  border-radius: 6px;
}
.home .call-to-action .img-wrapper {
  margin-top: 4.8rem;
  width: 100vw;
  margin-inline-start: 50%;
  transform: translateX(-50%);
}
.home .call-to-action .img-wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 65% 15%/15% 0% 0%;
}
.home .call-to-action img {
  border-radius: 65% 15%/15% 0% 0%;
}
.home .call-to-action .title {
  margin-bottom: 4.8rem;
}
.home .call-to-action .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .call-to-action .content {
  line-height: 1.4;
  font-size: 1.6rem;
  color: #696b6a;
}

.contact-us .hero {
  position: relative;
  height: 180px;
}

/*=== About us page ===*/
.about-us main {
  position: relative;
  padding-bottom: 7.2rem;
}
.about-us main .illustration {
  display: none;
  z-index: -1;
  position: absolute;
  bottom: -15%;
  left: calc(50% - 115px);
  width: 220px;
}
.about-us main .illustration img {
  width: 100%;
}
.about-us main .icon {
  z-index: 0;
  display: none;
  position: absolute;
  left: calc(50% - 140px);
  top: 0;
  width: 280px;
  height: 280px;
  background: url(assets/logo-white.png) no-repeat;
  background-size: cover;
}

.about-us main ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  gap: 2.4rem;
}
.about-us main ul li {
  text-align: center;
  background: #fff;
  box-shadow: 3px 3px 8px #ccc;
}
.about-us main ul li img {
  width: 4.5rem;
  margin-bottom: 2.4rem;
}
.about-us main ul li:not(.illustration) {
  padding: 2.4rem;
}

/*=== Contact us page ===*/
.contact-us .location-map {
  width: 100vw;
  margin-inline-start: 50%;
  transform: translateX(-50%);
}
.contact-us .hero img {
  -o-object-position: center;
     object-position: center;
}
.contact-us .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-us .info .content {
  flex: 1;
}
.contact-us .info .content .title {
  padding-top: 4.8rem;
  padding-bottom: 1.6rem;
}
.contact-us .info .content table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.contact-us .info .content table td,
.contact-us .info .content table th {
  text-align: left;
  padding: 1.6rem;
}
.contact-us .info .content table tr:nth-child(even) {
  background-color: #dddddd;
}

.contact-us .form-wrapper {
  width: 100vw;
  margin-inline-start: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-top: 7.2rem;
}
.contact-us .form-wrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  align-self: stretch;
  filter: brightness(0.4);
  z-index: -1;
}

.contact-us .form-container {
  position: relative;
}

.contact-us form {
  margin-top: 2.4rem;
  padding: 1.6rem;
  width: 100%;
}
.contact-us form h2 {
  color: #1acda3;
  text-align: center;
}
.contact-us form label,
.contact-us form input,
.contact-us form button {
  display: block;
  width: 100%;
}
.contact-us form input,
.contact-us form textarea {
  padding: 1.6rem 2.4rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2.4rem;
  border-radius: 6px;
  border: none;
}
.contact-us form label {
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}
.contact-us form textarea {
  width: 100%;
  min-height: 150px;
}

.contact-us .form-container .mask {
  z-index: 2;
  display: none;
  position: absolute;
  left: -8rem;
  width: 8rem;
  height: 100%;
  background: linear-gradient(to bottom right, transparent 49.5%, #fff 50%);
}

.contact-us form button {
  outline: 0;
  border: 0;
  margin: 4.8rem 0;
  padding: 1.6rem 2.4rem;
  font-size: 2.4rem;
  color: #fff;
  background: #1acda3;
  border-radius: 6px;
}

/* Medium devices (vertical ipads, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    padding: 1.6rem 4.8rem;
  }
  header .logo {
    width: 2.8rem;
    height: 2.8rem;
  }
  header .icon-menu .icon {
    font-size: 2.8rem;
  }
  .about-us .hero,
  .contact-us .hero {
    height: min(40vh, 320px);
  }
  /*----- nav -----*/
  .window nav ul {
    padding: 4.8rem 0;
  }
  /*----- hero -----*/
  .hero h1 {
    font-size: 3.6rem;
  }
  .hero p {
    font-size: 2.2rem;
  }
  .slogan {
    width: 70%;
    top: 15%;
  }
  /*----- footer -----*/
  footer .info-wrapper {
    margin-top: 4.8rem;
    flex-direction: row;
  }
  footer .info-wrapper .contact-info {
    border-left: 2px solid #fff;
  }
  footer .info-wrapper nav,
  footer .info-wrapper .contact-info {
    flex: 1;
  }
  /*=== Home page ===*/
  .home .intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .home .intro img {
    width: 50%;
  }
  .home .intro .title-mobile {
    display: none;
  }
  .home .intro .title-desktop {
    display: inline-block;
  }
  .home .intro .content {
    flex: 1;
  }
  /*----- features -----*/
  .home .feature > ul > li {
    width: calc(50% - 2rem);
  }
  /*----- call-to-actions -----*/
  .home .call-to-action {
    display: flex;
    gap: 4.8rem;
  }
  .home .call-to-action .content-wrapper {
    padding-bottom: 7.2rem;
  }
  .home .call-to-action .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -2.4rem;
    margin-top: 0;
    width: unset;
    margin-inline-start: unset;
    transform: unset;
  }
  /*=== About page ===*/
  .about-us main {
    padding-top: 7.2rem;
  }
  .about-us main ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-us main ul li {
    flex-basis: calc(50% - 2.4rem);
  }
  /*=== Contact us ===*/
  .contact-us .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .contact-us .form-wrapper .form-container {
    flex: 1;
  }
  .contact-us .form-wrapper img {
    position: static;
    width: 40%;
    height: unset;
    filter: unset;
  }
  .contact-us .form-wrapper form {
    margin-top: 0;
    padding: 1.6rem 4.8rem;
  }
  .contact-us .form-wrapper form input,
  .contact-us .form-wrapper form textarea {
    background-color: rgba(26, 205, 163, 0.1);
  }
}
/* Large devices (desktops, 1024px and up) */
@media screen and (min-width: 1024px) {
  /*=== nav ===*/
  header nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
  }
  header .logo {
    width: 3.6rem;
    height: 3.6rem;
  }
  header .social-media {
    display: block;
  }
  header .icon-menu,
  .window {
    display: none;
  }
  .about-us .hero,
  .contact-us .hero {
    height: 320px;
  }
  /*----- hero -----*/
  .hero-desktop {
    display: block;
  }
  .hero-mobile {
    display: none;
  }
  footer,
  footer .footer-wrapper,
  footer .info-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  footer .footer-wrapper {
    margin-bottom: 0;
  }
  footer .footer-wrapper .contact-info {
    border-width: 0;
  }
  footer .footer-wrapper .content-wrapper {
    width: 40%;
  }
  footer .footer-wrapper .content-wrapper .title {
    flex-direction: row;
  }
  footer .info-wrapper,
  footer .footer-wrapper .title {
    margin-top: 0;
  }
  /*=== Home page ===*/
  .home .hero-wrapper {
    height: min(95vh, 780px);
  }
  .home .slogan {
    right: 5%;
    width: min(40vw, 600px);
    text-align: right;
  }
  /*----- intro -----*/
  .home .intro {
    width: min(90%, 1024px);
    margin: auto;
    min-height: 500px;
  }
  .home .intro .img-mobile {
    display: none;
  }
  .home .intro .animation {
    display: block;
    position: relative;
    width: 580px;
    height: 500px;
  }
  /*----- features -----*/
  .home .feature .content {
    padding: 7.2rem;
  }
  .home .feature > ul > li {
    width: 30%;
  }
  /*=== About us page ===*/
  .about-us main li {
    text-align: left;
    background: transparent;
    box-shadow: none;
  }
  .about-us main li img:not(.illustration) {
    display: none;
  }
  .about-us main li li:not(.illustration) {
    padding: 2.4rem 10rem;
  }
  .about-us main .icon {
    display: none;
  }
  .about-us main .illustration {
    display: block;
  }
  /*=== Contact us page ===*/
  .contact-us .info {
    flex-direction: row;
  }
  .contact-us .info .location-map {
    width: min(600px, 50vw);
    margin-inline-start: unset;
    transform: unset;
  }
  .contact-us .info .content {
    padding: 0 4.8rem;
  }
  .contact-us .form-wrapper img {
    width: 50%;
  }
  .contact-us .form-container .mask {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */